:root {
    --background-color: black;
    --button-color: #b9ebe3;
    --button-color-hover: #00ffff;
    --title-font: 'sans-serif';
    --body-font: 'Press Start 2P', cursive;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-areas:
        'top top top'
        'left middle right'
        'bottom bottom bottom';
    gap: 1rem;
    grid-template-columns: 1fr 2fr 1fr;
    max-width: 1000px;
    height: 100vh;
    margin: auto;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

#game-canvas {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#screens {
    border: 3px solid red; 
    grid-area: middle;
    height: 0;
    width: 100%;
    overflow: hidden;
    padding-top: calc((4 / 3) * 100%);
    position: relative;
}

.screen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white
}

canvas {
    background-color: black;
}

#left {
    grid-area: left;
}

#right {
    grid-area: right;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu-button {
    font-size: 18px;
    margin: 2%;
    padding: 2%;
    width: 50%;
    border-radius: 5px;
    border: none;
    font-family: var(--body-font, sans-serif);
    background-color: var(--button-color);
}


.menu-button:hover, .selected-button {
    width: 55%;
    font-size: 20px;
    background-color: var(--button-color-hover);
}

.menu-button:hover {
    cursor: pointer;
}

.control-button {
    font-size: 18px;
    border-radius: 5px;
    min-width: 120px;
    border: none;
    font-family: var(--body-font, 'sans-serif');
    background-color: var(--button-color);
}

#assign-controls-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    font-size: 20px;
    line-height: 0;
}

#assign-controls-div div .selected-button, .control-button:hover {
    font-size: 20px;
    min-width: 140px;
    background-color: var(--button-color-hover);
}

#assign-controls-div div {
    display: flex;
    justify-content: space-between;
    margin: 2px;
}

#controls > p {
    width: 80%;
    font-size: 16px;
    padding: 20px;
    margin: auto;
}

#marquee {
    grid-area: top;
    background-image: url("assets/images/cabinet-marquee.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    display: block;
}

#left, #right {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("assets/images/cabinet-side.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 700px) {
    main {
        grid-template-areas: 
            "top"
            "middle"
            "bottom";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        margin: auto;
        width: 80%;
    }
}

.active {
    display: block;
}

table {
    margin: auto;
}

table, td, th {
    padding: 5px 10px;
}
